/* css styling for all buttons/links in templates */
.main {
    border: none;
    color: white;
    padding: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
}

.main-buttons {
    display: flex;
    flex-flow: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

#btn1, #btn2, #btn3 {
    background-color: rgb(121, 168, 207);
    font-size: 25px;
    text-shadow: 1px 1px 2px #000000;
}

#btn1:hover, #btn2:hover, #btn3:hover{
    box-shadow: 0 7px 10px 0 #2f4764, 0 10px 20px 0 #2f476497;
    cursor: pointer;
}

.show-button, .edit-button, .submit-button, .add-button{
    margin: 15px;
    padding: 0.25em;
    border-radius: 5px;
    border: 1px solid black;
}

.show-button {
    background-color: rgb(193, 224, 251);
}

.delete-button {
    padding: 0.5em;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 1px #000000;
    background-color: rgb(249, 45, 45);
    margin: 25px;
    border: 1px solid black;
}

.delete-button:active {
    transform: translateY(4px);
}

.show-button:hover, .edit-button:hover, .submit-button:hover, .add-button:hover .delete-button:hover{
    cursor: pointer;
}
