{% extends "base.html" %}

{% block content %}

<div>
    <h2 class="sub-logo">Dr. {{ vet.name }}</h2>
    <a href="/vets/{{ vet.id }}/edit"><button class="edit-button">Edit Vet Details</button></a>
    <p>
        <h3>Assigned Animals:</h3>
        {% for animal in assigned_animals %}
            Name: {{ animal.name|title }} <br>
            Species: {{ animal.species|title }}<br>
            <a href="/animals/{{ animal.id }}"><button class="show-button">View Animal's Details</button></a>
            <hr>
        {% endfor %}
    <p>Create a New Animal:<br>
    <a href="/animals/new"><button class="add-button">Add New Animal</button></a>
    </p>
    <hr>
    To Remove this Vet from the System:
    <form action="/vets/{{ vet.id }}/delete" method="POST">
        <input type="submit" value="Delete Vet" class="delete-button">
    </form>
</div>

{% endblock %}