{% extends "base.html" %}

{% block content %}

<h2 id="vets-logo">All Vets</h2>
<a href="/vets/new"><button>Add New Vet</button></a>
<hr>

{% for vet in vets %}
<section class="vets">
    <p>Dr. {{ vet.name }}</p>
    <p id="all-animals-for-vet">
    <!-- put link to list of all animals assigned to this vet here if possible -->
    </p>
    <a href="/vets/{{ vet.id }}/edit"><button class="edit-button">Edit</button></a>
    <form action="/vets/{{ vet.id }}/delete" method="POST">
        <input type="submit" value="Delete Vet">
    </form>
    <hr>
</section>
{% endfor %}

{% endblock %}