{% extends "base.html" %}

{% block content %}

<h2 class="sub-logo">Manage Animals</h2>
<a href="/animals/new"><button class="add-button">Add New Animal</button></a>
<hr>

{% for animal in animals %}
<section class="animals">
    <p>Name: {{ animal.name }}<br>
    Species: {{ animal.species|title }}<br>
    Owner: {{ animal.owner.name }}</p>

    {% if animal.vet == "No vet" %}
        Please assign a vet to this animal by clicking the button below.<br>
        <a href="/animals/{{ animal.id }}/edit"><button class="edit-button">Edit Animal Details</button></a>
    {% else %}
        Vet: Dr. {{ animal.vet.name }}
        <br>
        <a href="/animals/{{ animal.id }}"><button class="show-button">Show {{ animal.name }}'s Details</button></a>
    {% endif %}
    
    <hr>
</section>
{% endfor %}

{% endblock %}