{% extends "base.html" %}

{% block content %}

<div>
    <h2 class="sub-logo">{{ animal.name|title }} the {{ animal.species }}</h2>
    <p>Date of Birth: {{ animal.date_of_birth }}</p>
    <p><a href="/animals/{{ animal.id }}/edit"><button class="edit-button">Edit Animal Details</button></a></p><hr>
    <p>
        <h3>Owner: {{ animal.owner.name }}</h3>
        <h4>Contact Details:</h4>
            Phone Number: {{ animal.owner.phone_number }} <br>
            Email: {{ animal.owner.email }} <br>
            Address: {{ animal.owner.address }} <br>
        <a href="/owners/{{ animal.owner.id }}"><button class="edit-button">View Owner Details</button></a><br>
        <a href="/owners/{{ animal.owner.id }}/edit"><button class="edit-button">Edit Owner Details</button></a>
    </p>
    <hr>
    To Remove {{ animal.name|title }}'s Records from the System:
    <form action="/animals/{{ animal.id }}/delete" method="POST" class="delete-button">
        <input type="submit" value="Delete Animal">
    </form>
    <hr>
    <p>
        {% if animal.vet == "No vet" %}
            <br>
            Please assign a vet to this animal by clicking on the Edit Animal Details button at the top of this page.
        {% else %}
            <h3>Vet: Dr. {{ animal.vet.name }}</h3>
            <a href="/animals/{{ animal.id }}/notes"><button class="show-button">View Treatment Notes</button></a>
        {% endif %}
    </p>
    <p>

    </p>
</div>


{% endblock %}