{% extends "base.html" %}

{% block content %}

<div>
    <p class="animal-name">
        <h2>{{ animal.name }}</h2>
    </p>
    <p>Species: {{ animal.species|title }}</p>
    <p>Date of Birth: {{ animal.date_of_birth }}</p>
    <p><a href="/animals/{{ animal.id }}/edit"><button class="edit-button">Edit Animal Details</button></a></p><hr>
    <p>
        <h3>Owner: {{ animal.owner.name }}</h3>
        <h4>Contact Details:</h4>
            Phone Number: {{ animal.owner.phone_number }} <br>
            Email: {{ animal.owner.email }} <br>
            Address: {{ animal.owner.address }} <br>
        <a href="/owners/{{ animal.owner.id }}"><button class="edit-button">View Owner Details</button></a>
    </p>
    <hr>
    <form action="/animals/{{ animal.id }}/delete" method="POST">
        <input type="submit" value="Delete Animal">
    </form>
    <hr>
    <p>
        {% if animal.vet == "No vet" %}
            NO VET ASSIGNED! <br>
            Please assign a vet to this animal by clicking on the Edit Animal Details button above.
        {% else %}
            <h3>Vet: Dr. {{ animal.vet.name }}</h3>
            <a href="/animals/{{ animal.id }}/notes"><button>View Treatment Notes</button></a>
        {% endif %}
    </p>
    <p>

    </p>
</div>


{% endblock %}