{% extends "base.html" %}

{% block content %}

<h2 id="owners-logo">All Owners</h2>
<a href="/owners/new"><button>Add New Owner</button></a>
<hr>

{% for owner in owners %}
<section class="owners">
    <p>{{ owner.name }}</p>
    <p id="all-animals-for-owner">
        <!-- list all animals with owner_id == owner.id here if possible -->
    </p>
    <a href="/owners/{{ owner.id }}/edit"><button class="edit-button">Edit Owner Details</button></a>
    <form action="/owners/{{ owner.id }}/delete" method="POST">
        <input type="submit" value="Delete Owner">
    </form>
    <hr>
</section>
{% endfor %}

{% endblock %}