{% extends "base.html" %}

{% block content %}

<div>
    <h2 class="sub-logo">{{ owner.name }}</h2>
    <p><h3>Contact Details:</h3>
        Phone Number: {{ owner.phone_number }} <br>
        Email: {{ owner.email }} <br>
        Address: {{ owner.address }} <br>
    </p>
    <a href="/owners/{{ owner.id }}/edit"><button class="edit-button">Edit Owner Details</button></a>
    <hr>
    <p>
        <h3>Registered Animals:</h3>
        {% for animal in animals_owned %}
            Name: {{ animal.name|title }} <br>
            Species: {{ animal.species|title }} <br>
            <a href="/animals/{{ animal.id }}"><button class="show-button">View Animal's Details</button></a>
            <hr>
        {% endfor %}
    To Create a New Animal:<br>
    <a href="/animals/new"><button class="add-button">Add New Animal</button></a>
    </p>
    <hr>
    To Remove this Owner's Record AND Simultaneously Remove All Records for this Owner's Animals:
    <form action="/owners/{{ owner.id }}/delete" method="POST" class="delete-button">
        <input type="submit" value="Delete Owner">
    </form>
</div>

{% endblock %}