<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice Manager</title>
</head>
<body>
    <header>
        <h1 id="main-logo">Vet Practice Manager</h1>
    </header>
    <section class="main-buttons">
        <a href="/vets" id="main-vets"><button>Manage Vets</button></a>
        <a href="/animals" id="main-animals"><button>Manage Animals</button></a>
        <a href="/owners" id="main-owners"><button>Manage Owners</button></a>
    </section>
</body>
</html>